.overview{
    display: flex;
    align-items: center;
    padding: 1.3rem 0 1.3rem 1rem;
    gap: 1rem;
    color: var(--green-500);
    font-weight: 700;
}

.containerCard {
    padding-top: 1rem;
    display: flex;
    width: 100%;
    gap: 1rem;
}

.footerText{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 20vh;
    align-items: center;
    border: 1px solid var(--gray-200);
    border-radius: 16px;
    margin-top: 1rem;
    font-size: 0.75rem;
}


@media (max-width: 768px) {
    .containerCard {
        flex-direction: column;
        width: 100%;
    }

    .footerText{ 
        font-size: 2rem;
    }
}