.container {
    width: 22.77rem;
}

section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray-200);
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    margin-right: 1rem;
}

.customersText{
    color: var(--gray-900);
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.6rem;
    padding-bottom: 1rem;
}

.containerInfoCustomers {
    display:  flex;
    flex-direction: column;
}

.name{
    color: var(--gray-900);
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.6rem;
}

.email{
    color: var(--gray-500);
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.1rem;
}

.containerAvatarInfo {
    display: flex;
    align-items: center;
    gap: 1rem;
    line-height: 0;
}

.amount {
    color: var(--gray-900);
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
}


@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    .customersText{
        color: var(--gray-900);
        font-weight: 700;
        font-size: 2.25rem;
        line-height: 1.6rem;
        padding-bottom: 1rem;
    }

    section {
        height: 10vh;
    }

    .name{
        font-size: 1.6rem;
        line-height: 19.51px;
        padding-bottom: 1rem;
    }

    .email{
        font-size: 1.2rem;
        line-height: 14.63px;
    }
    
    .amount{
        font-size: 1.6rem
    }

    .containerInfoCustomers{
        padding-bottom: 1rem;
    }
}