.badgesSuccess {
    background-color: #DEF7EC !important;
    color: #03543F;
    font-weight: 400;
    width: 5.18rem;
    height: 1.37rem;
    line-height: 1.8;
    border: 1px solid #c5dad1;
}


.badgesCancelled {
    background-color:#FBD5D5!important;
    color: #9B1C1C;
    font-weight: 400;
    width: 5.18rem;
    height: 1.37rem;
    line-height: 1.8;
}


.recharts-cartesian-axis-tick {    
    font-size: 0.75rem !important;
}