.badgesSuccess {
    background-color: #DEF7EC !important;
    color: #03543F;
    font-weight: 400;
}


.badgesCancelled {
    background-color:#FBD5D5!important;
    color: #9B1C1C;
    font-weight: 400;
}